
<nav class="navbar-breadcrumb col-xl-12 col-12 d-flex flex-row p-0" style="margin-top:0px">
	<div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
		<ul class="navbar-nav mr-lg-2">
			<li class="nav-item ml-0">
				<h4 class="mb-0">Dünya Sağlık İstatistikleri</h4>
			</li>
		</ul>
		 <ul class="navbar-nav navbar-nav-right">
			<li class="nav-item nav-search d-none d-md-block mr-0">
					@* <input type="text" name="query" class="form-control" placeholder="Ara..." value="@ViewContext.HttpContext.Request.Query["query"]">
					<div class="input-group-prepend">
						<button type="submit" class="input-group-text">
							<i class="typcn typcn-zoom"></i>
						</button>
					</div> *@
			</li>
		</ul> 
	</div>
</nav>