@model List<ResultStatisticsDto>
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />

<div class="container">
    <br /><br />
    <table class="table table-bordered">
        <tr>
            <th>Ülke</th>
            <th>Yıl</th>

        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Country</td>
                <td>@item.Year</td>
            </tr>
        }
    </table>
</div>
