
@{
    Layout = null;
}

<style>
    #bannerClose {
        display: none !important;
    }

    .nav-search .form-control {
        width: 300px !important;
    }

    .nav-search {
        position: relative !important; 
        right: -170px !important; 
    }
</style>

@await Component.InvokeAsync("_HeadLayout")

<body>

    <i class="" id="bannerClose"></i>
 
    <div class="container-scroller">

		@await Component.InvokeAsync("_NavbarLayout")

        <div class="container-fluid page-body-wrapper">
            <div class="main-panel">
                <div class="content-wrapper">

                    @await Component.InvokeAsync("_StatusStatistics")

                    @await Component.InvokeAsync("_GraphicStatistics")

                    @await Component.InvokeAsync("_CardStatistics")

                    @await Component.InvokeAsync("_TableStatistics")

                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_ScriptsLayout")

</body>



